<html>
<head>
  <title>Bogart</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{site.baseurl}}/css/pygments/default.css" />
  <link rel="stylesheet" href="{{site.baseurl}}/css/bootstrap.min.css" />
  <link rel="stylesheet" href="{{site.baseurl}}/css/bootstrap-theme.min.css" />
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Bogart</a>
    </div>
  
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{site.baseurl}}/api.html">API Docs</a></li>
        <li><a href="{{site.baseurl}}/tutorials.html">Tutorials</a></li>
      </ul>
    </div>
  </nav>

  {{content}}

  <script src="//code.jquery.com/jquery.js"></script>
  <script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
</body>
</html>